* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.wrap {
  max-width: 1140px;
  height: 700px;
  margin: 0 auto;
  background-color: rgb(121, 122, 219);
  padding-top: 1px;
}
.header {
  margin: 40px 0 40px 50px;
}
.products {
  display: flex;
  justify-content: space-evenly;
}
.product-item {
}
.products-img {
  height: 150px;
}
.btn-cart {
  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(250, 40, 31, 0.6);
  padding: 11px;
  border-style: none;
  border-radius: 5px;
}
.btn-cart:hover {
  box-shadow: none;
}
.buy-btn {
  padding: 15px 30px;
  border-radius: 8px;
  background-color: rgba(250, 40, 31, 0.6);
  font-size: 16px;
  border-style: none;
  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: rgba(255, 255, 255, 0.774);
}
.buy-btn:hover {
  box-shadow: none;
}
.products-img,
.text-h3,
.price {
  margin-bottom: 16px;
}
.text-h3 {
  color: rgb(142 220 177);
}
.text-h6 {
  color: white;
  font-size: 14px;
  font-weight: 100;
}
.price {
  color: azure;
}
